<table class="table table-responsive">
  <tbody>
  <tr ng-repeat='result in ctrl.content.results' class="row">
    <td class="col-lg-3 col-md-3 col-sm-3"><a href="{{result.trackViewUrl}}">{{result.trackName}}</a></td>
    <td class="col-lg-8 col-md-8 col-sm-8"><ng-bind-html ng-bind-html="result.description"></ng-bind-html></td>
    <td class="col-lg-1 col-md-1 col-sm-1">{{result.price | isoCurrency:result.currency}}</td>
  </tr>
  </tbody>
</table>
