<div class="main-container">
  <main class="main">
    <ul class="nav nav-tabs">
      <li ui-sref-active="active">
        <a  ui-sref="Hemingway" class="al-sidebar-list-link">
             <i class="fa fa-truck fa-fw fa-margin"></i><span>Ernest Hemingway</span>
        </a>
      </li><li ui-sref-active="active">
        <a  ui-sref="Dickens" class="al-sidebar-list-link">
             <i class="fa fa-truck fa-fw fa-margin"></i><span>Charles Dickens</span>
        </a>
      </li><li ui-sref-active="active">
        <a  ui-sref="Shakespeare" class="al-sidebar-list-link">
             <i class="fa fa-truck fa-fw fa-margin"></i><span>William Shakespeare</span>
        </a>
      </li>
    </ul>
    <tab-body></tab-body>
  </main>
</div>
